<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ object.name }}</title>
</head>
<body>
    <ul>
       <li>
           <p>Product: {{ object.name }}</p>
       </li>
       <li>
           <p>Manufacturer: {{ object.manufacturer }}</p>
       </li>
       <li>
           <p>QUantity: {{ object.quantity }}</p>
       </li>
       <li>
           <p>Description: {{ object.description }}</p>
       </li>
       <li>
           <p>Price: {{ object.price }}</p>
       </li>
       <li>
           <p>Shippin Cost: {{ object.shipping_cost }} Dollars</p>
       </li>

       <img src="{{ object.photo.url }}" alt="product photo">
    </ul>
</body>
</html>